@use "../../variables" as s;

.projects-section {
  padding: 100px 0;
  background-color: s.$GreyColor;
  border-bottom: 1px solid s.$PurpleColor;
}

.card-1 {
  display: flex;
  flex-direction: column;
  height: 225px;
  width: 320px;
  transition: 1s;
}

.overlay {
  position: absolute;
  height: 225px;
  width: 320px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
  transition: 1s;

  &:hover {
    background: rgba(0, 0, 0, 0.7);
  }
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-evenly;
  max-width: 1000px;
  transition: 1s;
}

.project-title {
  margin-bottom: 40px;
}

.card-front {
  display: flex;
  // display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);

  img {
    position: absolute;
    z-index: 2;
    height: 225px;
    width: 320px;
    object-fit: cover;
    opacity: 0.6;
    transition: 1s;
  }

  .project-stuff {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 225px;
    width: 320px;
    z-index: 5;
    padding: 5px;
    transition: 1s;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    h4 {
      align-self: flex-start;
    }

    h6 {
      margin: auto;
    }

    .project-more {
      width: 100px;
      padding: 2px;
      border-radius: 20px;
      background-color: s.$WhiteText;
      font-family: s.$SecondaryFont;
      border: 1px solid black;
      align-self: flex-end;
      color: black;
      z-index: 6;
      transition: 0.1s;

      &:hover {
        color: s.$WhiteText;
        background-color: black;
        border-color: white;
      }
    }
  }

  .card-front-hidden {
    display: none;
  }
}

.card-back {
  padding: 5px;
  display: flex;
  // display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  height: 225px;
  width: 320px;
  transition: 1s;
  background-color: black;

  h4 {
    z-index: 4;
  }

  p {
    z-index: 4;
    color: s.$PurpleColor;
    text-align: center;
    font-size: 0.9rem;
    line-height: 20px;
  }

  .card-back-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    z-index: 4;

    a {
      color: s.$WhiteText;
      font-family: s.$PrimaryFont;
      font-size: 0.9rem;

      &:hover {
        color: s.$PurpleColor;
      }
    }

    .card-back-btns {
      padding: 5px;
      width: 75px;
      border-radius: 20px;
      background-color: s.$WhiteText;
      font-family: s.$SecondaryFont;
      border: 1px solid black;
      color: black;
      z-index: 6;
      transition: 0.1s;

      &:hover {
        color: s.$WhiteText;
        background-color: black;
        border-color: white;
      }
    }
  }
}

.card-back-hidden {
  display: none;
}

@media (min-width: 425px) {
  .card-1 {
    height: 300px;
    width: 425px;
    margin-bottom: 20px;
  }

  .overlay {
    height: 300px;
    width: 425px;
  }

  .card-front {
    img {
      height: 300px;
      width: 425px;
    }

    .project-stuff {
      height: 300px;
      width: 425px;
    }
  }

  .card-back {
    height: 300px;
    width: 425px;
    padding: 10px;
  }
}

@media (min-width: 1440px) {
  .projects {
    flex-direction: row;
    justify-content: center;
  }

  .card-1 {
    margin: 20px;
  }
}
