@use "../../variables" as s;

.contact-section {
  background-color: blue;
  width: 100%;
  height: 800px;
  border-bottom: 1px solid s.$PurpleColor;

  div {
    max-width: 1400px;
  }
}

@media (min-width: 425px) {
  .contact-section {
    height: 1000px;
  }
}
