@use "./variables" as s;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  scroll-margin-top: 80px;
}

h1 {
  font-family: s.$PrimaryFont;
  color: s.$WhiteText;
  font-size: 4rem;
}

h2 {
  font-family: s.$PrimaryFont;
  color: s.$PurpleColor;
  text-decoration: underline 1px solid white;
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
  color: s.$WhiteText;
  font-family: s.$PrimaryFont;
}

h4 {
  font-size: 1.2rem;
  color: s.$WhiteText;
  font-family: s.$PrimaryFont;
}

h5 {
  font-size: 0.9rem;
  color: s.$WhiteText;
  font-family: s.$PrimaryFont;
}

h6 {
  font-size: 1rem;
  color: s.$WhiteText;
  font-family: s.$SecondaryFont;
}

p {
  font-family: s.$SecondaryFont;
  color: s.$LightGrey;
  font-size: 0.9rem;
  line-height: 40px;
}

button {
  font-family: s.$PrimaryFont;
}

@media (min-width: 425px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}
