////////////// COLORS ///////////////////

$GreyColor: #121212f3;
$PurpleColor: rgb(110, 110, 182);
$LightGrey: rgb(112, 112, 112);
$WhiteText: #faf8ff;

////////////// FONTS ///////////////////
$PrimaryFont: "Montserrat", sans-serif;
$LogoFont: "Grape Nuts", cursive;
$SecondaryFont: "Kalam", cursive;
// $SecondaryFont: "Indie Flower", cursive;
