* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  scroll-margin-top: 80px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #faf8ff;
  font-size: 4rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: rgb(110, 110, 182);
  -webkit-text-decoration: underline 1px solid white;
          text-decoration: underline 1px solid white;
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
  color: #faf8ff;
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-size: 1.2rem;
  color: #faf8ff;
  font-family: "Montserrat", sans-serif;
}

h5 {
  font-size: 0.9rem;
  color: #faf8ff;
  font-family: "Montserrat", sans-serif;
}

h6 {
  font-size: 1rem;
  color: #faf8ff;
  font-family: "Indie Flower", cursive;
}

p {
  font-family: "Indie Flower", cursive;
  color: rgb(112, 112, 112);
  font-size: 0.9rem;
  line-height: 40px;
}

button {
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 425px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.2rem;
  }
}
.about-section {
  display: flex;
  background-color: rgba(18, 18, 18, 0.9529411765);
  width: 100%;
  padding: 150px 0;
  border-bottom: 1px solid rgb(110, 110, 182);
}
.about-section .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1440px;
  width: 90%;
  height: 100%;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.skills .skill-container {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 300ms;
  margin: 10px 10px 20px 10px;
}
.skills .skill-container:hover {
  transform: scale(1.3);
}
.skills .top-skills {
  display: flex;
  flex-direction: row;
}
.skills .bottom-skills {
  display: flex;
  flex-direction: row;
}

.about-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-btn .button-container {
  margin: 0 40px;
}

@media (min-width: 768px) {
  .skills {
    margin-top: 10px;
    flex-direction: row;
  }
  .skills .skill-container {
    margin: 30px;
  }
  .skills .top-skills {
    justify-content: flex-end;
    width: 50%;
  }
  .skills .bottom-skills {
    justify-content: flex-start;
    width: 50%;
  }
}
.contact-section {
  background-color: rgba(18, 18, 18, 0.9529411765);
  width: 100%;
  padding: 150px 0;
  border-bottom: 1px solid rgb(110, 110, 182);
}
.contact-section .contact {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 750px;
}
.contact-form textarea,
.contact-form input {
  box-sizing: border-box;
}
.contact-form input {
  height: 50px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
}
.contact-form textarea {
  width: 100%;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

.footer-section {
  background-color: rgb(110, 110, 182);
  width: 100%;
}
.footer-section .footer {
  max-width: 1440px;
  width: 100%;
  height: 200px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 75%;
  width: 100%;
}
.footer-links a {
  text-decoration: none;
  color: #faf8ff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}

.footer-socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25%;
  width: 100%;
}

.header-section {
  background: rgb(110, 110, 182);
}
.header-section div {
  max-width: 1440px;
}

.projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 18, 18, 0.9529411765);
  width: 100%;
  padding: 150px 0;
  border-bottom: 1px solid rgb(110, 110, 182);
}
.projects-section div {
  max-width: 1440px;
}

.card {
  height: 225px;
  width: 320px;
  transition: 1s;
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
  height: 100%;
}

.project-overlay {
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: 1s;
}

.project-cards {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 3;
}
.project-cards .project-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 4;
}
.project-cards .project-info:hover {
  background: rgba(0, 0, 0, 0.7);
  transition: 1.5s;
}
.project-cards .project-info p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
}
.project-cards h4 {
  margin-left: 10px;
  z-index: 3;
  height: 10px;
}
.project-cards p {
  height: 30px;
  font-size: 0.8rem;
  margin-left: 10px;
  z-index: 3;
  color: rgb(173, 173, 173);
}

.test {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.project-img {
  position: absolute;
  z-index: 2;
  height: 225px;
  width: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
  transition: 1s;
}

.github-btn {
  position: absolute;
  margin-top: 5px;
  margin-left: 285px;
  z-index: 5;
  transition: 1s;
}

.project-clickme {
  position: absolute;
  margin-left: 0px;
  margin-top: 95px;
  opacity: 1;
  z-index: 4;
  transition: 1s;
}

.project-buttons {
  width: 100px;
  background-color: red;
}

@media (min-width: 425px) {
  .card {
    height: 300px;
    width: 425px;
  }
  .project-img {
    height: 300px;
    width: 425px;
  }
  .github-btn {
    margin-left: 390px;
  }
  .project-clickme {
    margin-top: 140px;
  }
}
.welcome-section {
  background-color: rgba(18, 18, 18, 0.9529411765);
  padding: 200px 0;
  border-bottom: 1px solid rgb(110, 110, 182);
}
.welcome-section p {
  font-size: 1.4rem;
}
.welcome-section .welcome {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 100%;
}

.button-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 20px;
  border: 1px solid rgb(110, 110, 182);
  font-family: "Montserrat", sans-serif;
}

.button-container button {
  width: 101%;
  height: 100%;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  background: rgb(110, 110, 182);
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #000;
  cursor: pointer;
  -webkit-animation: anim2 0.7s steps(22) forwards;
          animation: anim2 0.7s steps(22) forwards;
}

.button-container button:hover {
  -webkit-animation: anim1 0.7s steps(22) forwards;
          animation: anim1 0.7s steps(22) forwards;
}

.mask {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 101%;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  overflow: hidden;
  z-index: 1;
}

@-webkit-keyframes anim1 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes anim1 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@-webkit-keyframes anim2 {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes anim2 {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
.logo a {
  font-family: "Grape Nuts", cursive;
  font-size: 2rem;
}

.navigation {
  display: none;
}

.mobile-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  width: 100%;
}
.mobile-navigation .hamburger {
  cursor: pointer;
}

.navbar {
  display: flex;
  max-width: 1440px;
  width: 100%;
  background-color: rgb(110, 110, 182);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.navbar a {
  text-decoration: none;
  color: #faf8ff;
}

.navbar .mobile-navigation ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  top: 80px;
  right: 0%;
  width: 100%;
  background-color: rgba(18, 18, 18, 0.9529411765);
}

ul {
  list-style: none;
}
ul li a {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-decoration: none;
}
ul li a:hover {
  color: rgb(110, 110, 182);
}

@media (min-width: 992px) {
  .navigation {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 20px 10px;
  }
  .navigation ul {
    display: flex;
    align-items: center;
  }
  .navigation ul li {
    margin: 0 20px;
  }
  .mobile-navigation {
    display: none;
  }
}/*# sourceMappingURL=main.module.css.map */