@use "../../../variables" as s;

.logo {
  a {
    font-family: s.$LogoFont;
    font-size: 2rem;
  }
}

.navigation {
  display: none;
}

.mobile-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  width: 100%;
  // background-color:
  .hamburger {
    cursor: pointer;
  }
}

.navbar {
  display: flex;
  max-width: 1440px;
  width: 100%;
  background-color: s.$PurpleColor;
  top: 0;
  left: 0;
  z-index: 10;

  a {
    text-decoration: none;
    color: s.$WhiteText;
  }
}

.navbar .mobile-navigation ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  top: 80px;
  right: 0%;
  width: 100%;
  background-color: s.$GreyColor;
}

ul {
  list-style: none;
  li {
    a {
      font-family: s.$PrimaryFont;
      color: white;
      text-decoration: none;

      &:hover {
        color: s.$PurpleColor;
      }
    }
  }
}

// hamburger till 992px
@media (min-width: 992px) {
  .navigation {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 20px 10px;

    ul {
      display: flex;
      align-items: center;
      li {
        margin: 0 20px;
      }
    }
  }

  .mobile-navigation {
    display: none;
  }
}
